In [37]:
# Import des bibliothèques
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [8]:
# Lecture du dataset
# Remplace le chemin si nécessaire
df = pd.read_csv('/Users/amysarr/Documents/Formation_Jedha/Projet_final/EDA/global-data-on-sustainable-energy.csv')

In [9]:
# Affichage des premières lignes
print("Aperçu des données :")
display(df.head())

Aperçu des données :

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

In [10]:
# Supprimer les colonnes spécifiées
cols_to_drop = [
    'Financial flows to developing countries (US $)',
    'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
    'Renewables (% equivalent primary energy)'
]
df.drop(columns=cols_to_drop, inplace=True)
print(f"Colonnes après suppression : {df.columns.tolist()}")

Colonnes après suppression : ['Entity', 'Year', 'Access to electricity (% of population)', 'Access to clean fuels for cooking', 'Renewable-electricity-generating-capacity-per-capita', 'Renewable energy share in the total final energy consumption (%)', 'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)', 'Electricity from renewables (TWh)', 'Low-carbon electricity (% electricity)', 'Primary energy consumption per capita (kWh/person)', 'Value_co2_emissions_kt_by_country', 'gdp_growth', 'gdp_per_capita', 'Density\\n(P/Km2)', 'Land Area(Km2)', 'Latitude', 'Longitude']

In [11]:
# Informations générales et valeurs manquantes
print("\nInformations sur le dataset :")
print(df.info())

Informations sur le dataset :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 18 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entity                                                            3649 non-null   object
 1   Year                                                              3649 non-null   int64
 2   Access to electricity (% of population)                           3639 non-null   float64
 3   Access to clean fuels for cooking                                 3480 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita              2718 non-null   float64
 5   Renewable energy share in the total final energy consumption (%)  3455 non-null   float64
 6   Electricity from fossil fuels (TWh)                               3628 non-null   float64
 7   Electricity from nuclear (TWh)                                    3523 non-null   float64
 8   Electricity from renewables (TWh)                                 3628 non-null   float64
 9   Low-carbon electricity (% electricity)                            3607 non-null   float64
 10  Primary energy consumption per capita (kWh/person)                3649 non-null   float64
 11  Value_co2_emissions_kt_by_country                                 3221 non-null   float64
 12  gdp_growth                                                        3332 non-null   float64
 13  gdp_per_capita                                                    3367 non-null   float64
 14  Density\n(P/Km2)                                                  3648 non-null   object
 15  Land Area(Km2)                                                    3648 non-null   float64
 16  Latitude                                                          3648 non-null   float64
 17  Longitude                                                         3648 non-null   float64
dtypes: float64(15), int64(1), object(2)
memory usage: 513.3+ KB
None

In [12]:
print("\nValeurs manquantes par colonne :")
print(df.isnull().sum())

Valeurs manquantes par colonne :
Entity                                                                0
Year                                                                  0
Access to electricity (% of population)                              10
Access to clean fuels for cooking                                   169
Renewable-electricity-generating-capacity-per-capita                931
Renewable energy share in the total final energy consumption (%)    194
Electricity from fossil fuels (TWh)                                  21
Electricity from nuclear (TWh)                                      126
Electricity from renewables (TWh)                                    21
Low-carbon electricity (% electricity)                               42
Primary energy consumption per capita (kWh/person)                    0
Value_co2_emissions_kt_by_country                                   428
gdp_growth                                                          317
gdp_per_capita                                                      282
Density\n(P/Km2)                                                      1
Land Area(Km2)                                                        1
Latitude                                                              1
Longitude                                                             1
dtype: int64

In [13]:
# Statistiques descriptives
print("\nStatistiques descriptives :")
display(df.describe())

Statistiques descriptives :

,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Land Area(Km2),Latitude,Longitude
count,3649.000000,3639.000000,3480.000000,2718.000000,3455.000000,3628.000000,3523.000000,3628.000000,3607.000000,3649.000000,3.221000e+03,3332.000000,3367.000000,3.648000e+03,3648.000000,3648.000000
mean,2010.038367,78.933702,63.255287,113.137498,32.638165,70.365003,13.450190,23.968010,36.801182,25743.981745,1.598665e+05,3.441610,13283.774348,6.332135e+05,18.246388,14.822695
std,6.054228,30.275541,39.043658,244.167256,29.894901,348.051866,73.006623,104.431085,34.314884,34773.221366,7.736611e+05,5.686720,19709.866716,1.585519e+06,24.159232,66.348148
min,2000.000000,1.252269,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+01,-62.075920,111.927225,2.100000e+01,-40.900557,-175.198242
25%,2005.000000,59.800890,23.175000,3.540000,6.515000,0.290000,0.000000,0.040000,2.877847,3116.737300,2.020000e+03,1.383302,1337.813437,2.571300e+04,3.202778,-11.779889
50%,2010.000000,98.361570,83.150000,32.910000,23.300000,2.970000,0.000000,1.470000,27.865068,13120.570000,1.050000e+04,3.559855,4578.633208,1.176000e+05,17.189877,19.145136
75%,2015.000000,100.000000,100.000000,112.210000,55.245000,26.837500,0.000000,9.600000,64.403792,33892.780000,6.058000e+04,5.830099,15768.615365,5.131200e+05,38.969719,46.199616
max,2020.000000,100.000000,100.000000,3060.190000,96.040000,5184.130000,809.410000,2184.940000,100.000010,262585.700000,1.070722e+07,123.139555,123514.196700,9.984670e+06,64.963051,178.065032

In [14]:
#Conversion du type de Year
df["Year"] = df["Year"].astype(int)
df["Year"]

0       2000
1       2001
2       2002
3       2003
4       2004
        ...
3644    2016
3645    2017
3646    2018
3647    2019
3648    2020
Name: Year, Length: 3649, dtype: int64

In [15]:
# Pourcentage de valeurs manquantes par colonne
missing_percent = df.isnull().mean() * 100
missing_percent = missing_percent.sort_values(ascending=False)

print("Pourcentage de valeurs manquantes par colonne :")
display(missing_percent)

# Pourcentage de valeurs manquantes globales dans le dataset
total_missing_percent = df.isnull().sum().sum() / (df.shape[0] * df.shape[1]) * 100
print(f"\nPourcentage total de valeurs manquantes dans le dataset : {total_missing_percent:.2f}%")

Pourcentage de valeurs manquantes par colonne :

Renewable-electricity-generating-capacity-per-capita                25.513839
Value_co2_emissions_kt_by_country                                   11.729241
gdp_growth                                                           8.687312
gdp_per_capita                                                       7.728145
Renewable energy share in the total final energy consumption (%)     5.316525
Access to clean fuels for cooking                                    4.631406
Electricity from nuclear (TWh)                                       3.453001
Low-carbon electricity (% electricity)                               1.151000
Electricity from fossil fuels (TWh)                                  0.575500
Electricity from renewables (TWh)                                    0.575500
Access to electricity (% of population)                              0.274048
Density\n(P/Km2)                                                     0.027405
Latitude                                                             0.027405
Land Area(Km2)                                                       0.027405
Longitude                                                            0.027405
Primary energy consumption per capita (kWh/person)                   0.000000
Year                                                                 0.000000
Entity                                                               0.000000
dtype: float64

Pourcentage total de valeurs manquantes dans le dataset : 3.87%

In [16]:
print(f"Nombre de lignes : {len(df)}")
print(f"Nombre de colonnes : {len(df.columns)}")

Nombre de lignes : 3649
Nombre de colonnes : 18

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 18 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entity                                                            3649 non-null   object
 1   Year                                                              3649 non-null   int64
 2   Access to electricity (% of population)                           3639 non-null   float64
 3   Access to clean fuels for cooking                                 3480 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita              2718 non-null   float64
 5   Renewable energy share in the total final energy consumption (%)  3455 non-null   float64
 6   Electricity from fossil fuels (TWh)                               3628 non-null   float64
 7   Electricity from nuclear (TWh)                                    3523 non-null   float64
 8   Electricity from renewables (TWh)                                 3628 non-null   float64
 9   Low-carbon electricity (% electricity)                            3607 non-null   float64
 10  Primary energy consumption per capita (kWh/person)                3649 non-null   float64
 11  Value_co2_emissions_kt_by_country                                 3221 non-null   float64
 12  gdp_growth                                                        3332 non-null   float64
 13  gdp_per_capita                                                    3367 non-null   float64
 14  Density\n(P/Km2)                                                  3648 non-null   object
 15  Land Area(Km2)                                                    3648 non-null   float64
 16  Latitude                                                          3648 non-null   float64
 17  Longitude                                                         3648 non-null   float64
dtypes: float64(15), int64(1), object(2)
memory usage: 513.3+ KB

In [18]:
# Liste unique des pays
countries = df['Entity'].unique()
print(f"Nombre de pays : {len(countries)}")
print(countries)

Nombre de pays : 176
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria' 'Azerbaijan'
 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize'
 'Benin' 'Bermuda' 'Bhutan' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cayman Islands' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czechia' 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador'
 'Egypt' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Guiana' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania' 'Mauritius'
 'Mexico' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar'
 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Tajikistan'
 'Thailand' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'United States' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Yemen'
 'Zambia' 'Zimbabwe']

In [19]:
country_counts = df['Entity'].value_counts()
print(country_counts.head)  # Les 10 pays avec le plus de données

<bound method NDFrame.head of Entity
Afghanistan      21
Oman             21
Netherlands      21
New Caledonia    21
New Zealand      21
                 ..
Zimbabwe         21
Serbia           14
Montenegro       14
South Sudan       8
French Guiana     1
Name: count, Length: 176, dtype: int64>

In [20]:
#Afficher toutes les lignes avec au moins une valeur manquante
missing_rows = df[df.isnull().any(axis=1)]
missing_rows[['Entity']].drop_duplicates()

                   Entity
0             Afghanistan
21                Albania
62                Algeria
83                 Angola
104   Antigua and Barbuda
...                   ...
3564           Uzbekistan
3585              Vanuatu
3586                Yemen
3627               Zambia
3648             Zimbabwe

[176 rows x 1 columns]

In [21]:
#Nombre de lignes manquantes par pays 
missing_count_by_country = df[df.isnull().any(axis=1)]['Entity'].value_counts()
print(missing_count_by_country)

Entity
Latvia         21
Denmark        21
Malaysia       21
Estonia        21
Malta          21
               ..
Morocco         1
El Salvador     1
Mongolia        1
Mexico          1
Zimbabwe        1
Name: count, Length: 176, dtype: int64

In [22]:
#Pourcentage de valeurs manquantes par pays
missing_percent_by_country = df.groupby('Entity').apply(lambda x: x.isnull().mean().mean() * 100)
missing_percent_by_country = missing_percent_by_country.sort_values(ascending=False)
print(missing_percent_by_country.head(10))  # Top 10 des pays avec le plus de valeurs manquantes

Entity
French Guiana                       50.000000
Tuvalu                              22.751323
Slovakia                            22.486772
Bermuda                             17.989418
Czechia                             17.195767
Kyrgyzstan                          16.931217
Egypt                               16.931217
Saint Kitts and Nevis               16.931217
Saint Lucia                         16.931217
Saint Vincent and the Grenadines    16.931217
dtype: float64

/var/folders/s5/mqw818d920bg8_42fs8xtwbm0000gn/T/ipykernel_2860/3314191403.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  missing_percent_by_country = df.groupby('Entity').apply(lambda x: x.isnull().mean().mean() * 100)

In [23]:
print(missing_percent_by_country.head
      
      )

<bound method NDFrame.head of Entity
French Guiana    50.000000
Tuvalu           22.751323
Slovakia         22.486772
Bermuda          17.989418
Czechia          17.195767
                   ...
Morocco           0.529101
El Salvador       0.529101
Mongolia          0.529101
Mexico            0.529101
Zimbabwe          0.264550
Length: 176, dtype: float64>

In [24]:
with pd.option_context("display.max_rows",None):
    print(missing_percent_by_country)

Entity
French Guiana                       50.000000
Tuvalu                              22.751323
Slovakia                            22.486772
Bermuda                             17.989418
Czechia                             17.195767
Kyrgyzstan                          16.931217
Egypt                               16.931217
Saint Kitts and Nevis               16.931217
Saint Lucia                         16.931217
Saint Vincent and the Grenadines    16.931217
Gambia                              16.931217
Congo                               16.931217
Bahamas                             16.931217
Yemen                               16.931217
New Caledonia                       12.433862
Bulgaria                            11.640212
Puerto Rico                         11.375661
Albania                             11.375661
Cayman Islands                      10.317460
South Sudan                          8.333333
Aruba                                8.201058
Somalia                              7.671958
Montenegro                           6.349206
Serbia                               6.349206
Malta                                6.084656
Finland                              6.084656
Malaysia                             6.084656
Luxembourg                           6.084656
Lithuania                            6.084656
Netherlands                          6.084656
Estonia                              6.084656
Ireland                              6.084656
France                               6.084656
Hungary                              6.084656
Israel                               6.084656
Italy                                6.084656
Denmark                              6.084656
Japan                                6.084656
Kazakhstan                           6.084656
Germany                              6.084656
Lebanon                              6.084656
Greece                               6.084656
Libya                                6.084656
Latvia                               6.084656
Bosnia and Herzegovina               6.084656
Saudi Arabia                         6.084656
United States                        6.084656
United Kingdom                       6.084656
Ukraine                              6.084656
Australia                            6.084656
Austria                              6.084656
Switzerland                          6.084656
Sweden                               6.084656
Spain                                6.084656
Belarus                              6.084656
Belgium                              6.084656
Slovenia                             6.084656
Cyprus                               6.084656
Iceland                              6.084656
Canada                               6.084656
Romania                              6.084656
Chile                                6.084656
Portugal                             6.084656
Poland                               6.084656
Norway                               6.084656
Indonesia                            6.084656
North Macedonia                      6.084656
Croatia                              6.084656
New Zealand                          6.084656
Turkey                               5.820106
Eritrea                              5.291005
Nauru                                4.497354
Djibouti                             4.232804
Liberia                              2.645503
Afghanistan                          1.851852
Sao Tome and Principe                1.322751
Guinea-Bissau                        1.058201
Turkmenistan                         1.058201
Qatar                                0.793651
India                                0.529101
Senegal                              0.529101
South Africa                         0.529101
Benin                                0.529101
Solomon Islands                      0.529101
Bhutan                               0.529101
Botswana                             0.529101
Singapore                            0.529101
Sierra Leone                         0.529101
Seychelles                           0.529101
Brazil                               0.529101
Burkina Faso                         0.529101
Barbados                             0.529101
Samoa                                0.529101
Burundi                              0.529101
Cambodia                             0.529101
Cameroon                             0.529101
Rwanda                               0.529101
Central African Republic             0.529101
Chad                                 0.529101
China                                0.529101
Belize                               0.529101
Sudan                                0.529101
Sri Lanka                            0.529101
Philippines                          0.529101
Zambia                               0.529101
Algeria                              0.529101
Vanuatu                              0.529101
Uzbekistan                           0.529101
Uruguay                              0.529101
Angola                               0.529101
Antigua and Barbuda                  0.529101
United Arab Emirates                 0.529101
Argentina                            0.529101
Uganda                               0.529101
Armenia                              0.529101
Azerbaijan                           0.529101
Tunisia                              0.529101
Trinidad and Tobago                  0.529101
Tonga                                0.529101
Togo                                 0.529101
Thailand                             0.529101
Tajikistan                           0.529101
Bahrain                              0.529101
Bangladesh                           0.529101
Suriname                             0.529101
Colombia                             0.529101
Peru                                 0.529101
Iraq                                 0.529101
Equatorial Guinea                    0.529101
Maldives                             0.529101
Eswatini                             0.529101
Malawi                               0.529101
Madagascar                           0.529101
Ethiopia                             0.529101
Fiji                                 0.529101
Gabon                                0.529101
Georgia                              0.529101
Lesotho                              0.529101
Ghana                                0.529101
Grenada                              0.529101
Guatemala                            0.529101
Kuwait                               0.529101
Kiribati                             0.529101
Kenya                                0.529101
Guinea                               0.529101
Jordan                               0.529101
Jamaica                              0.529101
Guyana                               0.529101
Haiti                                0.529101
Honduras                             0.529101
Mali                                 0.529101
Mauritania                           0.529101
Paraguay                             0.529101
Mauritius                            0.529101
Papua New Guinea                     0.529101
Panama                               0.529101
Pakistan                             0.529101
Oman                                 0.529101
Comoros                              0.529101
Costa Rica                           0.529101
Nigeria                              0.529101
Niger                                0.529101
Nicaragua                            0.529101
Cuba                                 0.529101
Dominica                             0.529101
Dominican Republic                   0.529101
Nepal                                0.529101
Ecuador                              0.529101
Namibia                              0.529101
Myanmar                              0.529101
Mozambique                           0.529101
Morocco                              0.529101
El Salvador                          0.529101
Mongolia                             0.529101
Mexico                               0.529101
Zimbabwe                             0.264550
dtype: float64

In [25]:
# Calcul du pourcentage de valeurs manquantes par pays
missing_percent_by_country = df.groupby('Entity').apply(lambda x: x.isnull().mean().mean() * 100)

# Filtrer les pays avec plus de 20% de valeurs manquantes (tu peux changer 20)
threshold = 20
countries_high_missing = missing_percent_by_country[missing_percent_by_country > threshold]

# Afficher
print(f"Pays avec plus de {threshold}% de valeurs manquantes :")
print(countries_high_missing.sort_values(ascending=False))

Pays avec plus de 20% de valeurs manquantes :
Entity
French Guiana    50.000000
Tuvalu           22.751323
Slovakia         22.486772
dtype: float64

/var/folders/s5/mqw818d920bg8_42fs8xtwbm0000gn/T/ipykernel_2860/2717790904.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  missing_percent_by_country = df.groupby('Entity').apply(lambda x: x.isnull().mean().mean() * 100)

In [30]:
def diagnostic_df(df):
    info_list = []
    for col in df.columns:
        data = df[col]
        info = {
            "colonne": col,
            "dtype": data.dtype,
            "nb_valeurs_uniques": data.nunique(dropna=True),
            "nb_valeurs_manquantes": data.isna().sum(),
            "%_valeurs_manquantes": round(data.isna().mean() * 100, 2),
            "exemple_valeur": data.dropna().iloc[0] if data.dropna().shape[0] > 0 else None,
        }
        if np.issubdtype(data.dtype, np.number):
            info.update({
                "min": round(data.min(), 2),
                "max": round(data.max(), 2),
                "moyenne": round(data.mean(), 2),
                "médiane": round(data.median(), 2)
            })
        else:
            info.update({"min": None, "max": None, "moyenne": None, "médiane": None})
        info_list.append(info)
    return pd.DataFrame(info_list).sort_values(by="%_valeurs_manquantes", ascending=False)

In [32]:
df

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,44.99,0.16,0.0,0.31,65.957440,302.59482,760.000000,NaN,NaN,60,652230.0,33.939110,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,45.60,0.09,0.0,0.50,84.745766,236.89185,730.000000,NaN,NaN,60,652230.0,33.939110,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,37.83,0.13,0.0,0.56,81.159424,210.86215,1029.999971,NaN,179.426579,60,652230.0,33.939110,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,36.66,0.31,0.0,0.63,67.021280,229.96822,1220.000029,8.832278,190.683814,60,652230.0,33.939110,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,44.24,0.33,0.0,0.56,62.921350,204.23125,1029.999971,1.414118,211.382074,60,652230.0,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Zimbabwe,2016,42.561730,29.8,62.88,81.90,3.50,0.0,3.32,48.680350,3227.68020,11020.000460,0.755869,1464.588957,38,390757.0,-19.015438,29.154857
3645,Zimbabwe,2017,44.178635,29.8,62.33,82.46,3.05,0.0,4.30,58.503407,3068.01150,10340.000150,4.709492,1235.189032,38,390757.0,-19.015438,29.154857
3646,Zimbabwe,2018,45.572647,29.9,82.53,80.23,3.73,0.0,5.46,59.412407,3441.98580,12380.000110,4.824211,1254.642265,38,390757.0,-19.015438,29.154857
3647,Zimbabwe,2019,46.781475,30.1,81.40,81.50,3.66,0.0,4.58,55.582527,3003.65530,11760.000230,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857
3648,Zimbabwe,2020,52.747670,30.4,80.61,81.90,3.40,0.0,4.19,55.204216,2680.13180,NaN,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857

In [38]:
diagnostic_df(df)

,colonne,dtype,nb_valeurs_uniques,nb_valeurs_manquantes,%_valeurs_manquantes,exemple_valeur,min,max,moyenne,médiane
4,Renewable-electricity-generating-capacity-per-...,float64,2110,931,25.51,9.22,0.00,3060.19,113.14,32.91
11,Value_co2_emissions_kt_by_country,float64,2397,428,11.73,760.0,10.00,10707219.73,159866.46,10500.00
12,gdp_growth,float64,3320,317,8.69,8.832278,-62.08,123.14,3.44,3.56
13,gdp_per_capita,float64,3367,282,7.73,179.426579,111.93,123514.20,13283.77,4578.63
5,Renewable energy share in the total final ener...,float64,2587,194,5.32,44.99,0.00,96.04,32.64,23.30
3,Access to clean fuels for cooking,float64,896,169,4.63,6.2,0.00,100.00,63.26,83.15
7,Electricity from nuclear (TWh),float64,547,126,3.45,0.0,0.00,809.41,13.45,0.00
9,Low-carbon electricity (% electricity),float64,2647,42,1.15,65.95744,0.00,100.00,36.80,27.87
6,Electricity from fossil fuels (TWh),float64,1859,21,0.58,0.16,0.00,5184.13,70.37,2.97
8,Electricity from renewables (TWh),float64,1533,21,0.58,0.31,0.00,2184.94,23.97,1.47
2,Access to electricity (% of population),float64,2040,10,0.27,1.613591,1.25,100.00,78.93,98.36
14,Density\n(P/Km2),object,124,1,0.03,60,NaN,NaN,NaN,NaN
16,Latitude,float64,175,1,0.03,33.93911,-40.90,64.96,18.25,17.19
15,Land Area(Km2),float64,175,1,0.03,652230.0,21.00,9984670.00,633213.49,117600.00
17,Longitude,float64,175,1,0.03,67.709953,-175.20,178.07,14.82,19.15
10,Primary energy consumption per capita (kWh/per...,float64,3628,0,0.00,302.59482,0.00,262585.70,25743.98,13120.57
1,Year,int64,21,0,0.00,2000,2000.00,2020.00,2010.04,2010.00
0,Entity,object,176,0,0.00,Afghanistan,NaN,NaN,NaN,NaN

In [34]:
list(df.columns)

['Entity',
 'Year',
 'Access to electricity (% of population)',
 'Access to clean fuels for cooking',
 'Renewable-electricity-generating-capacity-per-capita',
 'Renewable energy share in the total final energy consumption (%)',
 'Electricity from fossil fuels (TWh)',
 'Electricity from nuclear (TWh)',
 'Electricity from renewables (TWh)',
 'Low-carbon electricity (% electricity)',
 'Primary energy consumption per capita (kWh/person)',
 'Value_co2_emissions_kt_by_country',
 'gdp_growth',
 'gdp_per_capita',
 'Density\\n(P/Km2)',
 'Land Area(Km2)',
 'Latitude',
 'Longitude']

In [35]:
# Exemple : exporter df
df.to_csv('global-data-on-sustainable-energy_CLEAN.csv', index=False)

In [36]:
df.dtypes

Entity                                                               object
Year                                                                  int64
Access to electricity (% of population)                             float64
Access to clean fuels for cooking                                   float64
Renewable-electricity-generating-capacity-per-capita                float64
Renewable energy share in the total final energy consumption (%)    float64
Electricity from fossil fuels (TWh)                                 float64
Electricity from nuclear (TWh)                                      float64
Electricity from renewables (TWh)                                   float64
Low-carbon electricity (% electricity)                              float64
Primary energy consumption per capita (kWh/person)                  float64
Value_co2_emissions_kt_by_country                                   float64
gdp_growth                                                          float64
gdp_per_capita                                                      float64
Density\n(P/Km2)                                                     object
Land Area(Km2)                                                      float64
Latitude                                                            float64
Longitude                                                           float64
dtype: object